#!/usr/bin/env python
"""Create the database for addressees and their groups"""
# Licensed under the MIT License, see LICENSE for details

from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

from dbschema import Base, Addressee, Group, Membership
from settings import DATABASE


engine = create_engine(DATABASE)
Base.metadata.create_all(engine)

Session = sessionmaker()
Session.configure(bind=engine)
session = Session()

# Example data
addressee = Addressee(jid='addressee@example.com')
group = Group(name='main')
membership = Membership(addressee=addressee, group=group)
session.add(addressee)
session.add(group)
session.add(membership)
session.commit()
